@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Press+Start+2P&display=swap');

.App {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans Narrow', sans-serif;
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 6rem;
  width: 100%;

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Press Start 2P', cursive;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  p,
  li {
    font-size: 2rem;
  }

  a {
    color: rgba(0, 18, 25, 0.8);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .site-title {
    font-size: 3rem;
    margin: 3rem;
    line-height: 1.5;
  }
  .site-subtitle {
    margin-top: 0;
    width: 570px;
    text-align: right;
  }
  .game-container {
    height: 200px;
    width: 100%;
  }

  .body-width {
    max-width: 1000px;
  }
}
